:root {
  --main-branding-color: rgb(59, 177, 251);
  --background-color: rgb(219, 254, 254);
  --white-color: rgb(255, 255, 255);
  --grey-color: rgb(244, 244, 244);
  --box--shadow: inset 0 0 6px rgb(255, 255, 255);
  --defualt-font-family: Times New Roman, Times, serif;
}
body {
  font-family: var(--defualt-font-family);
  padding-top: 100px;
}
h1 {
  display: flex;
  justify-content: center;
  font-size: 56px;
}

h1 :hover {
  color: var(--main-branding-color);
}
h2 {
  display: flex;
  justify-content: center;
  font-size: 28px;
}
a {
  justify-content: center;
  text-decoration: none;
  color: rgb(0, 0, 0);
  display: block; /* 让链接变成块级元素，独占一行 */
  text-align: center; /* 居中文本 */
}
a:hover {
  color: var(--main-branding-color);
  text-decoration: none;
}
h3 {
  display: flex;
  justify-content: center;
  color: rgba(0, 0, 0, 0.6);
}

p {
  display: flex;
  justify-content: center;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 1rem;
}
.navigation-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px;
  padding-bottom: 80px;
}
.navigation-links a {
  border: 1px solid black;
  padding: 20px;
  border-radius: 12px;
  width: 200px;
  text-align: center;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.navigation-links a:hover {
  background-color: var(--main-branding-color);
  color: var(--white-color);
  border: 1px solid var(--white-color);
  box-shadow: var(--box--shadow);
}
.primary-link {
  border: 1px solid black;
  padding: 20px;
  border-radius: 12px;
  width: 200px;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.primary-link:hover {
  background-color: var(--main-branding-color);
  color: var(--white-color);
  border: 1px solid var(--white-color);
  box-shadow: var(--box--shadow);
}

footer {
  display: flex;
  justify-content: center;
  background-color: var(--background-color);
  margin-top: 100px;
  padding: 60px;
}
footer a {
  display: flex;
  justify-content: center;
  padding: 20px;
  border-radius: 12px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
footer a:hover {
  color: var(--main-branding-color);
}
.contact-me {
  background-color: var(--background-color);
  padding: 60px;
  margin-top: 60px;
}
.about-me {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}
.about-me-1,
.about-me-2 {
  width: 100%; /* 小屏幕时占满整个宽度 */
  max-width: 100%; /* 确保不会超出父容器 */
  background-color: var(--grey-color);
  border-radius: 12px;
  padding: 12px;
}

.project-desciption {
  padding: 120px 60px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }

  h2 {
    font-size: 44px;
  }

  .project-desciption {
    padding: 0;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .about-me-1,
  .about-me-2 {
    flex: 1 1 48%; /* 让两个文本框平均分配空间 */
  }
}
